<div class="content-wrapper">
    <h1>Add manufacturer</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">manufacturer Name</label>
            <input type="text" class="form-control " id="name" name="name" required value="{{name}}">
        </div>
        <p class="text-danger mt-2" id="errorMessage">
            {{errorMessage}}
        </p>

        <div class="form-group">
            <label for="changeMainImage">Main Image</label>
            <input type="file" class="form-control-file" id="changeMainImage" name="changeMainImage" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{{#section "plugincss"}}
<style>
    input {
        color: white !important;
    }
</style>
{{/section}}