{{#section "plugincss"}}
<link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.css">
{{/section}}

<div class="content-wrapper">
    <div class="row">
        <div class="col-xl-6 col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Revenue Report</h4>
                    <div class="form-group">
                        <label for="revenueTimeRange">Select Time Range</label>
                        <select class="form-control" id="revenueTimeRange">
                            <option value="day">Day</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                        </select>
                    </div>
                    <canvas id="revenueChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Top Revenue by Product</h4>
                    <div class="form-group">
                        <label for="productTimeRange">Select Time Range</label>
                        <select class="form-control" id="productTimeRange">
                            <option value="day">Day</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                        </select>
                    </div>
                    <canvas id="productChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section "pluginjs"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
{{/section}}

{{#section "customjs"}}
<script src="/assets/js/dashboard.js"></script>
{{/section}}